img.mult {
  border-style: double;
  border-top-width: 9px;
  border-right-width: 9px;
  border-color: #000000;
}

td {
  text-align: center;
  width: 200;
}

td.t {
  text-align: left;
}

table {
  display: inline-table;
}
